Repository bitfunk/blueprint-mobile, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, app-android, feature, common, library

Add build-plugin
  build-plugin/build.gradle.kts
  build-plugin/settings.gradle.kts
  build-plugin/src/main/kotlin/ProjectExtension.kt
  build.gradle.kts
Labels: none

Add version update plugin
  build-plugin/src/main/kotlin/eu.bitfunk.gradle.plugin.quality.updates.gradle.kts
  build.gradle.kts
Labels: none

Add quality plugin and configuration
  build.gradle.kts
Labels: none

Add bitfunk versioning plugin to derive version from git tag
  CHANGELOG.md
  app-android/build.gradle.kts
  build.gradle.kts
  gradle/libs.versions.toml
Labels: documentation, app-android

Bump Koin 3.2.3 -> 3.3.0
  CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

Fix detekt
  app-android/src/main/java/eu/bitfunk/blueprint/mobile/android/app/ui/theme/Color.kt
  config/detekt/baseline.yml
Labels: app-android

Fix code style
  TEMPLATE_CHANGELOG.md
  TEMPLATE_README.md
  app-android/src/androidTest/java/eu/bitfunk/blueprint/mobile/android/app/ExampleInstrumentedTest.kt
  app-android/src/test/java/eu/bitfunk/blueprint/mobile/android/app/ExampleUnitTest.kt
  docs/develop/badges.md
  settings.gradle.kts
Labels: documentation, app-android

Bump Koin Android 3.2.3 -> 3.3.1 and Mockk 1.12.5 -> 1.13.3
  CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

Bump Android Desugar 1.1.8 -> 1.2.2 for API 33 support
  CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

Add fix for spotless
  build.gradle.kts
Labels: none

Fix lint for compose theme by ignoring it for now
  app-android/build.gradle.kts
  app-android/lint-baseline.xml
Labels: app-android

Change to MacOS runner
  .github/workflows/ci-build-snapshot-version.yml
  .github/workflows/ci-publish-release.yml
  .github/workflows/ci-pull-request-validation.yml
Labels: ci

Bump Bitfunk Quality 0.1.1 -> 0.1.2
  CHANGELOG.md
  build.gradle.kts
  config/detekt/baseline.yml
  config/detekt/detekt.yml
  gradle/libs.versions.toml
Labels: documentation

Bump Gradle 7.5.1 -> 8.0.1
  CHANGELOG.md
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: documentation

Bump Gradle plugins
  CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

Bump app dependencies
  CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

Bump more dependencies
  CHANGELOG.md
  gradle/libs.versions.toml
Labels: documentation

Change code style
  Dangerfile.df.kts
  app-android/build.gradle.kts
  app-android/src/androidTest/java/eu/bitfunk/blueprint/mobile/android/app/test/compose/ComposeTestContentTheme.kt
  app-android/src/androidTest/java/eu/bitfunk/blueprint/mobile/android/app/test/compose/ComposeTestScreenshot.kt
  app-android/src/androidTest/java/eu/bitfunk/blueprint/mobile/android/app/test/util/TestContentResolverSaver.kt
  app-android/src/main/java/eu/bitfunk/blueprint/mobile/android/app/MainActivity.kt
  app-android/src/main/java/eu/bitfunk/blueprint/mobile/android/app/ui/theme/Theme.kt
  app-android/src/main/java/eu/bitfunk/blueprint/mobile/android/app/ui/theme/Type.kt
  build.gradle.kts
  docs/build.gradle.kts
  settings.gradle.kts
Labels: documentation, app-android

Fix monchrome warning
  app-android/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  app-android/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
Labels: app-android

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Change to Gradle managed devices
  .github/workflows/ci-pull-request-validation.yml
  app-android/build.gradle.kts
  app-android/src/androidTest/java/eu/bitfunk/blueprint/mobile/android/app/ExampleInstrumentedTest.kt
Labels: ci, app-android

Change emulator image to atd and remove gpu setting
  .github/workflows/ci-pull-request-validation.yml
Labels: ci

Change workflow to follow example
  .github/workflows/ci-pull-request-validation.yml
Labels: ci

Add stacktrace and cleanup
  .github/workflows/ci-pull-request-validation.yml
Labels: ci

Add emulator options
  .github/workflows/ci-pull-request-validation.yml
Labels: ci

Disable Analyse as it's not working yet
  .github/workflows/ci-pull-request-validation.yml
  CHANGELOG.md
  app-android/build.gradle.kts
Labels: ci, documentation, app-android

Change all build workflows to switch to Gradle managed devices
  .github/workflows/ci-build-snapshot-version.yml
  .github/workflows/ci-publish-release.yml
Labels: ci

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update libs.versions.toml
  gradle/libs.versions.toml
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

.github/labeler.yml:

ci:
  - .github/**/*

documentation:
  - docs/**/*
  - CHANGELOG.md
  - CODE_OF_CONDUCT.md
  - CONTRIBUTING.md
  - LICENSE
  - README.md
  - SECURITY.md

# App Android
app-android:
  - app-android/**/*

# Feature
feature:
  - feature/**/*

# Common
common:
  - common/**/*

# Library
library:
  - library/**/*
